.question-holder {
    display: flex;
    flex-direction: column;
    gap:10px;
} 
.question {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 5px;
    /*padding-left: 15px;*/
    padding: 5px;
    border: 2px solid #4c56ae;
    border-radius: 10px;
    width: fit-content;
}
.question-in {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    /*border: 2px solid gray;*/
    padding: 10px;
    gap: 5px;

    background-color: #eaeaea;
    text-decoration: none;
}
.question-delete {
    display: flex;
    width: fit-content;
    padding: 8px 24px;
    background-color: rgb(230, 25, 25);
    border-radius: 10px;
    /*border: 2px solid #8f1818;*/
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
.question-delete:hover {
    
    cursor: pointer;
}

.question-img {
    max-width: 30vw;
    border-radius: 8px;
}

