@import url("./question.css");
@import url("./forms.css");
@import url("./results.css");

* {
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-size: 14pt;
    font-family: 'Segoe UI', sans-serif;
}

html {
    font-size: 10px;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 100vh;
}

header {
    display: flex;
    height: fit-content;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 40px;
    border-bottom: 2px solid rgb(196, 196, 196);
    font-size: 14pt;
    background-color: #2f4373;
    color: white;
}

#main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
    margin: 40px 40px;
}

#header_urls {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

h1 {
    font-size: 16pt;
    font-weight: normal;
    text-align: center;
}

h2 {
    font-size: 14pt;
    font-weight: normal;
}

a {
    font-style: normal;
    color: black;
}

header > div > a {
    text-decoration: none;
}

aside {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-right: 10px;
    border-right: 2px solid gray;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.a-link {
    color: black;
    transition: background-color 400ms;
    border-radius: 10px;
    padding: 2.5px 5px;
}

.a-link:hover {
    background-color: lightgray;
}

.a-link-dark {
    color: white;
}

.a-link-dark:hover {
    color: #1b1b1b;
    background-color: #79aec8;
}

.messages, .errorlist > li {
    border: none;
    border-left: 2px solid gray;
    margin-bottom: 10px;
    padding: 5px 10px;
}

.errorlist, .errorlist > li {
    list-style: none;
}

.messages > p {
    font-weight: bold;
}

.split-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-between;
}

.split-box > div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.avatar {
    max-width: 20vw;
    min-width: 250px;
    height: auto;
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.profile > div:nth-child(1) {
    max-width: 35vw;
}

@media (max-width: 900px) {
    .profile > div:nth-child(1) {
        max-width: none;
    }
}

li {
    list-style: none;
}